{% extends 'base.html.twig' %}

{% block title 'Admin Restaurant Manager'%}

{% block body %}
    <div class="container mt-4">

        <h1>Gérer les Restaurants</h1>

        {% for message in app.flashes('succes') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="text-right">
            <a href="{{ path('admin.restaurant.new') }}" class="btn btn-primary mb-4">Créer un nouveau bien</a>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre </th>
                <th>Actions </th>
            </tr>
            </thead>
            <tbody>
            {% for restaurant in restaurants %}
                <tr>
                    <td>{{ restaurant.name }}</td>
                    <td>
                        <a href="{{ path('admin.restaurant.edit', {id: restaurant.id}) }}" class="btn btn-secondary">Editer</a>
                        <form method="post" action="{{ path('admin.restaurant.delete', {id: restaurant.id}) }}" style="display: inline-block" onsubmit="return confirm('Voulez-vous vraiment supprimer ce bien ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ restaurant.id) }}">
                            <button class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        {#<div class="text-right">
            <a href="{{ path('admin.property.new') }}" class="btn btn-primary">Créer un nouveau bien</a>
        </div>#}

    </div>
{% endblock %}